.ourteam {
    background-color: var(--secondary-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
            padding-bottom: 94px;
    }
}
.team {
    
    margin-top: var(--feature-gap);

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
        

    @media screen and (min-width: 1200px) {
        margin-top: 50px;
    }
    
}
.ourteam__title {
    @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    }
}
.team__item {
    
    padding-bottom: var(--feature-gap);

    background-color: var(--button-text);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 2);
    }
        @media screen and (min-width: 1200px) {
            width: calc((100% - 120px) / 4);
        }
    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: var(--feature-gap);
        }
    }
}
.name__title {
    text-align: center;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;

    @media screen and (min-width: 1200px) {
        line-height: 1.19;
        
    }
    
}
.name__text {
    text-align: center;
    margin-top: 10px;

    font-size: 16px;
    line-height: 1.17;
    color: var(--primary-text-color);

    @media screen and (min-width: 1200px) {
            line-height: 1.19;
    
        }
}
.name {
    padding-top: var(--feature-gap);
    padding-bottom: 16px;

}
.social-list {
    display: flex;
    justify-content: center;

    padding-left: 32px;
    padding-right: 32px;
    margin: 0;
    


    
}
.social-list__item+.social-list__item {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 10px;
    }
}
.social {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    

    width: 44px;
    height: 44px;
    color: var(--color-icon);
    background-color: var(--button-text);
    border-radius: 50%;

    transition-property: background-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

    

&:hover,
&:focus {
    background-color: var(--accent-color);
    color: var(--button-text);
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
}
.name__icon-social {
    display: flex;
    align-content: center;
    
    fill: currentColor;

    transition-property: background-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

&:hover,
&:focus {
    fill: currentColor;
}
}